<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2017 The LineageOS Project

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.customtiles"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <!-- Sync -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="@string/app_name">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <!-- Boot receiver -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:directBootAware="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- Ambient display -->
        <service
            android:name=".AmbientDisplayTile"
            android:icon="@drawable/ic_ambient_display_on"
            android:label="@string/ambient_display_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- ADB over network -->
        <service
            android:name=".AdbOverNetworkTile"
            android:icon="@drawable/ic_network_adb_off"
            android:label="@string/network_adb_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Heads up -->
        <service
            android:name=".HeadsUpTile"
            android:icon="@drawable/ic_heads_up_on"
            android:label="@string/heads_up_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Sync -->
        <service
            android:name=".SyncTile"
            android:icon="@drawable/ic_sync_on"
            android:label="@string/sync_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- VolumePanel -->
        <service
            android:name=".VolumePanelTile"
            android:icon="@drawable/ic_volume_panel"
            android:label="@string/volume_panel_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Caffeine-->
        <service
            android:name=".CaffeineTile"
            android:icon="@drawable/ic_caffeine_off"
            android:label="@string/caffeine_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- USB Tether -->
        <service
            android:name=".UsbTetherTile"
            android:icon="@drawable/ic_usb_tether_on"
            android:label="@string/usb_tether_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Battery saver -->
        <service
            android:name=".BatterySaverTile"
            android:icon="@drawable/ic_battery_saver_on"
            android:label="@string/battery_saver_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- WakeLock Service -->
        <service
            android:name=".WakelockService"
            android:enabled="true"
            android:exported="false" />

        <!-- Location Mode -->
        <service
                android:name=".LocationModeTile"
                android:icon="@drawable/ic_location_mode_off"
                android:label="@string/location_mode_label"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>
</manifest>
